.header {
    border-bottom: 2px solid $whiteColorOpacity;

    .left_header {
        width: 50%;
    }

    .Right_header {
        width: 25%;
        display: flex;
        justify-content: flex-end;
        margin-right: 29px;

        .col-md-3 {
            padding-left: 10px;
        }

        .profile--photo {
            border-radius: 50%;
        }
    } 


    .icon-search {
        color: #fff;
        background-color: #ffffff34;
        border-color: hsl(0, 0%, 80%);
        border-radius: 4px;
        border-style: solid;
        border-width: 1px;
    }
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.css-yk16xz-control {
    background-color: rgba(243, 243, 244, 0.24) !important;
    height: 48px;
}

.css-1wa3eu0-placeholder {
    color: $whiteColor !important;
}

.css-g1d714-ValueContainer {
    height: 46px;
}

@media screen and (max-width: 768px) {
    .header {
        .search {
            display: none;
        }

        .Right_header {
            .help {
                display: none;
            }

            .settings {
                display: none;
            }

            .apps {
                display: none;
            }
        }

        
    }
}

@media screen and (min-width: 769px) {
    .header {
        .search {
            display: none;
        }
    }
}