.sidebar_right {
    border-left: 2px solid $whiteColorOpacity;
    height: 93vh;
    width: 100%;
}

.right_sidebar {
    max-width: 85px !important;
    width: 85px !important;
}

.separation {
    padding-bottom: 17px;
    width: 40px !important;
    margin: 0px auto;
}

@media screen and (max-width: 1836px){
    .sidebar_right {
        display: none;

        
    }
    .chevronleft {
        margin-right: 27px;
    }
}