$blackColor: #000 !default;
$redColor: #ff0000 !default;
$whiteColor: #fff !default;
$whiteColorOpacity: #ffffff20 !default;
$blueColor: #09a !default;
$ancho: 100% !default;
$border: 2px solid $redColor !default;
$border-1: 25px solid $blueColor !default;
$heightt: 100vh !default;